__pycache__/
isr_paper/data/Task_Statements.txt
__pycache__/
isr_paper/data/all_run.log
isr_paper/data/btos/State.xlsx
isr_paper/data/indeed/job_postings_by_sector_US.csv
isr_paper/data/all_creation.log
isr_paper/data/ons/onlinejobadsreftablesjan17dec22.xlsx
isr_paper/data/ons/labour_demand_soc2020_to_aug2026.xlsx
isr_paper/data/ons/ons_total_uk_most_detailed.csv
