__pycache__/
isr_paper/data/Task_Statements.txt
__pycache__/
isr_paper/data/all_run.log
isr_paper/data/btos/State.xlsx
isr_paper/data/indeed/job_postings_by_sector_US.csv
isr_paper/data/all_creation.log
isr_paper/data/ons/onlinejobadsreftablesjan17dec22.xlsx
isr_paper/data/ons/labour_demand_soc2020_to_aug2026.xlsx
isr_paper/data/ons/ons_total_uk_most_detailed.csv
isr_paper/data/all_creation_llm.jsonl
isr_paper/data/statcan/14100444.csv
isr_paper/data/statcan/t14100444.zip
isr_paper/data/statcan/14100356_MetaData.csv
isr_paper/data/noc_creation_llm.jsonl
isr_paper/data/eurostat/jvs_a_isco3_r1.json
isr_paper/data/all_broad_llm.jsonl
